version: "0.2.4"
git_path: git

commands:
  spawn:
    - >-
      new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}")
      && echo claude \"{{ .Prompt | shq }}\"
      | wezterm cli send-text --no-paste --pane-id="$new_pane_id"
  recycle:
    - git reset --hard
    - git checkout main
    - git pull

rules:
  - pattern: ".*/hay-kot/recipinned"
    commands:
      - mise trust
      - task dep:sync

usercommands:
  open-finder:
    sh: "open {{ .Path }}"
    help: "open in finder"

keybindings:
  o:
    cmd: open-finder
