Port 22
HostKey /etc/ssh/keys/ssh_host_ed25519_key
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AllowUsers hive
AllowTcpForwarding local
PermitOpen 127.0.0.1:19001
X11Forwarding no
AllowAgentForwarding no
UsePAM no
Subsystem sftp internal-sftp
